:root {
    --primary-color: #21a3a3;
    --second-color: #13c8b5;
    --threeth-color: #6cf3d5;
    --fourth-color: #7375a5;
    --fifth-color: #2b364a;
}

html {
    font: 400 62.5% 'Inter', sans-serif;
}

body {
    /* font-family: Arial, sans-serif; */
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    margin: 1rem;
    color: white;
}

.header h1 {
    font-size: 3.6rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
}

.card {
    background-color: var(--fifth-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: white;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.card h2 {
    margin: 0 0 1rem;
    font-size: 2rem;
}

.card button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
    text-wrap: nowrap;
}

.card button:hover {
    background-color: var(--second-color);
}

.container-vmais {
    display: flex;
    justify-content: center;
    padding: 2rem;
    /* background-color: var(--fifth-color); */
}

.btn-vmais {
    background-color: var(--fifth-color);
    color: white;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 5px;
    text-decoration: none;
}









/* Mobile */
@media(max-width: 480px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        width: 80%;
        margin: 0 auto;
    }

    /* .card-content {
        flex-direction: column;
    } */

    .card .card-content {
        height: 2rem;
    }

    .card button {
        
        padding: 1rem;

    }
}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        width: 80%;
        margin: 0 auto;
    }

    .card-content {
        flex-direction: column;
        gap: 0.5rem;
    }

    .card h2 {
        margin: 0;
        font-size: 2rem;
    }
}

/* Small tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        width: 80%;
        margin: 0 auto;
    }



}

/* Large tablets/laptops */
@media (min-width: 992px) and (max-width: 1199px) {


}

/* Desktops */
@media (min-width: 1200px) and (max-width: 1919px) {

}

/* Extra large screens */
@media (min-width: 1920) {

}
